@model ReportViewModel

@section Breadcrumbs {
    <ol class="breadcrumb navbar-breadcrumb">
        <li>Reports</li>
        <li class="active">@Model.Report.Name</li>
    </ol>
}
<div class="side-body padding-top">
    @Html.PowerBIAccessToken(Model.AccessToken)
    @Html.PowerBIReportFor(m => m.Report, new { style = "height:87vh" })
</div>